<div align="middle" ng-controller="LoginCtrl" id="loginDiv">

	<br>
	<br>
	<br>
	<img src="static/img/logo1.png" height="80px" width="80px" /> 
	<p id="headline">Spotify Voting Application</p>
	<br>
	<br>
    <!-- col-sm-4 = 4 coloumn width for small size screen -->
    <button class="btn btn-sm btn-success col-md-4 col-sm-4 col-xs-4" id="center" ng-click="login()">
    	<span class="glyphicon glyphicon-user"></span> 
    	<span>Sign in with spotify</span>
    </button>
	<br>
	<br>
	<br>
	<br>
	<br>
    <p id="underline"> The application will provide the user with a tool to take away all sad faces on the pre party. With this tool you no longer have to listen to the jerk playing only his own songs all night long. You can now vote your favorite music to the top for the queue in spotify. </p>
</div>

